# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git
local/config/**
local/harvest/**
solr/biblio/**
solr/authority/**
solr/reserves/**
solr/website/**
solr/stats/**
solr/logs/**
import/solrmarc.log
